language: node_js
matrix:
  fast_finish: true
node_js:
- '6'
branches:
  except:
  - build
env:
  global:
  - CXX=g++-4.8
  - secure: "KBmjoODrXb0JTXx7jGkJs6ZtgoUk5H+7BtMYfK4nhweu8/QpT+SS72afGE+W0VeJ4+Armqm+BTAkph09xa3AVMKfk/k3kaElZeBS5UzcJ+1cWal2tYakluzAZarDzyy6FiPNtL2kHXZeMosw9dqYElCirPbwrrRZJ0UW5Gnr2aY4roWnTo8saTIl04rm+yuR4d6oD69jypmdb42TkaIc+kyBUt87HgXlahwP5BnXjelcsMehTffeoiNDX0mU4hojID1dLczp/7m7/cY5aApQRq9qOtqtsA7WOnwXPJrxiZsLX6LO/AjN4tN2DB+WzNVylOlWrBSQYI5b0ZIZ7gf5IcFBc5ERbdDY1jrubjvxNCLYt7tsEimPT64VvEyhglhiz3If4omg/A4/yTCHEJM7q0sKx/EBmH6ozI4IWxMn2ikZ14EkFc4M8ecKwgxAMgvIUJlo4n2RPp32lOjsCwNGup0CpMNHBzliNVLaLfP5OVKQM3VOguFvU6SxI/WN9p4tERyV02xBxxpYa2lYsFYUQSzYzvmKOBLyk6daU6tfqCp2LqUsc6M/npVkw0HgRUWuifd73t82l78joZ1D/NjXRWbRN1sJi9a9MB9IzJm3J1JQKB+1EKBMe9iAqRfKlpOfTrDMN8ERqZckpfWNi5fFTMHfZftfMhioxbZOgFn4CxY="
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - deadsnakes
    packages:
    - g++-4.8
    - python3.5
cache:
  yarn: true
  directories:
  - node_modules
before_install:
- curl -fsSL https://bootstrap.pypa.io/get-pip.py | python3.5 - --user
- travis_retry pip3.5 install --user transifex-client
- install -m0644 .transifexrc.tpl ~/.transifexrc
- echo "password = $TX_PASSWD" >> ~/.transifexrc
- yarn global add greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
script:
- yarn test
- yarn build:browser
after_script: greenkeeper-lockfile-upload
after_success:
- test $TRAVIS_BRANCH = "master" && yarn run deploy --branch=build
