dist: focal
language: node_js
node_js:
  - "12"
  - "16"
env:
  global:
    - MATTERMOST_CHANNEL=contacts
    # To generate a new key: travis encrypt GITHUB_TOKEN=<token> -r cozy/cozy-contacts
    - secure: OnT+4EKE7IHu+1C/KTFpbsNJiD2fTM9bEfLxytIjSH35n8iWZyGdHLBlVrUulKLw47ir+g8T/FmEVJ9u+JSfYaq25oSoPUrcdW8Qs7RA+lg4W7LWGFXQeDaDC7KS1dRxQDc4eaRxfmbyDNEQG3HwsVbcaZXCrZQmwLGj5NWAseblvshLkhpYrdeMYIt+JUod63VUskdq8FVzm9AuFxBA1Ut4rwyX3wou5TDZMAgYwf1rlveAxkmZhYQQlt4j7Hyb5zT/K1S+zXKm4H+pqA/tvSbSRIw5JKFRf2tywom2Tn87BJ8mxYuMA2ANnsQ4c3jeJgQCNOk4oG5gUbPOa+JCN6RehHrsiGROExK0UY/e1uxFJfgyLmONBppJMFWO8Cn6Qxz5WQnrm/a5sE2RbZg+UuLi3WJIK6+yb/8P9XBPmZauBDLE6EOtUtx15Ti8WPZfuAbEBnJ7Q9gJv/5fpiMrgaYniohgU8cNs5qN6BsA/8JiY/f3lcVjLsPP4x+j0NzqKcUEXbMjXMGHWaQK/fizlcTH6moL8unlLNKkEmLEtg4w1x4cj3jvBMOiZsOfsGugqu0ZS2YRJqjpImVUThuPRoQkASR8mpq33PGXjBcKMPBol4K7c8DNrWKmwI1wgq/dl82wBDGIA3kAL6lrh4fBqzck2yqLrCdgH1MmolF14dI=
    # To generate a new key: travis encrypt REGISTRY_TOKEN=<token> -r cozy/cozy-contacts
    - secure: twmw7b05n3pvAYJr5V5PxQHdNY+4SP8W1WA9IWnUJmEuY8mi6L2Cxn08B8hrWEw6cPYg/fCkSWFkS1JZ+lmervSEipR7dPPP3aRMzDFe1p/9YcxNb9LdoRRAlxYRwreSvB7puVpr/kvXyWW2NzK1/OvU5o+HXJT5z3NJV0Zjw8v2IZ16vs1CyhbrmephAa2gEblzI1djRXDVK/9hGmT5shy7GVEmDgiufn13Dya1MiyPXLVvHoS6AzHFXCQKA6W6DsVjnYz5eQQAPd1dbT4hRlWrbtXDAY8ztFN15MeudFJn0/g7ZfH3iKs7+Wcr+5dwD5SxG3aFhgwQM0YE0ETVK5GQB+oyloGBHu3uuu0cPiIOfc+xbcHNT6a5igyfsfmiOtq+N5JeREp6codQDzByiFm0CxYNh2FUB4rU98kjkrT/F4UxbbnrHHPChqtGTvJ6RjfVuma3g2XioDnBsj0umNDCnHoa3GEGTq/wIAdhd6/B3i8MCNIq2eoLiJkVl83ITCjt7UdFZv6WHpVOvOL3iRsCS7gX7uresO0HXf6ws9FgRZm7P11jzsJIcHKBq4kXMS7XGIVLPMmB0R6OIh+kMXvtcQvSGXm0g+3hdCaF/hOHSmIUcrPFexvXoR5BH0kQvHMzijoY0552ySq5R3fY70a33S24aRA8QcuPMo7XXSo=
    # To generate a new key: travis encrypt MATTERMOST_HOOK_URL=<token> -r cozy/cozy-contacts
    - secure: "B24hol+bj40GwMUA+jNYxklQA+c+lDJLZGRgz/gknQ5MhDUkmPgCuACkVivzzRq48jlXt0uSjfi/avtGqDA78q5AiuG1cNgGDGA+BKdI2bqqAevQEJ11lgC/U4PaxUtAJqB5MgR79gBb0XsHAtYfpCCKoySiIVqW4nZlPEtiOZLXfjQ1HJvv89BBtPySJli6JbSMMHfU1giZkbIrOXZwUWrGSUktUVDACQh+knZdC6X4bzywUC0WMzlHhRphmJxhmbTKKaBmv/JgoN9Qj50imG66cWoRC5Afva5M/86kix9VgO1a3xJZk4uTBz3KusPSryYvqTnWZ3lGWRqCa/aUXO0ogfemCjVupk1UPgYLqT3QOMSja+IozWR24yDDyXV1qr8fMupdV2M6FSRlEsfEesoIdpHqChD3SO9p7GLlvdwVeWqdT1zKUM9UEIQEE2bcHObyCHORZjgJC2MSBmVmawul48oG0Cpy1CbumaHHrvGnc0KO+zgl7qHxKGpBaCikIojuFCsZlBH+kS3Db6RZHRYyXiHeHIiDVLlKXQbl3uWiiC493uMRKetRwV/1refwGB+zYTJ+RurffmcZrGfPlUp7V2qnkswKffPlHJ2Zia1TH70u0pCeozxAjLGZlOv4toc3M0HNbXJfPY5cSzBgO1MYIe8gCVMLeMZkxCpg0bQ="
    # BUNDLESIZE_GITHUB_TOKEN
    - secure: "J7h9YacjdRzmAX2+MDa1OYHxKmueZpujqJ2p+Yj7pwIAb0yJiSiqJGd49F143kR+7NPudT1z6rtVT8YmLin8ioGHT0Izuwk7+40KXg9w3D26qLMrznwu+NkzKkwHfuY15B5vC9UT2BTfwN6z/d4r1gXCgVgXZuV+OhlXfSJIgZTNmU6UZNyGSK9ZUIcplr2HhcZTbn3Iz+Ci5VXoOZejWnzjBm0oz+FZib1kIqd72Lm3aMrtLDZzRpbTS/snUBb+5VRfj3tbqpHOsCvhldP3+qLRu7MdC9PJAUF1ggvoIsZW62LqW/h/r4FT2iDYXkcXPvQWAduPxg4D9J9ZOnW5OSuVTKxLs84SJ8htWqfylo00LtR+JgjjIeMS+UJ8s2Qg9Q4d1L0SW0H2wIt++b/aVV/kEnQwzG9puQVBB+4jO8FNQKXC26cCc9jhz8u6Xu+MVA1reUYiAf9IoICXuqRmvMhzemld2DO8ypPNjWTohQwJP/MzfgwRZbeMyEGoryoHR2Lx+BQWTX9m3WpMlKGo9j8OKN9nhQRdhjBP1K6oM9DcPC7F+64+17wOURZ6LcFRBO8GP848NxXWYHd62ZN2xJuTL3RBFQVce4rSSYFv8W/gU4pybvoQmKQaENzFzwWsJAxJ+PqmDNOI4AUegiRJRo8QvG3qQOQiNnA3T6bgWB8="
cache:
  yarn: true
  directories:
    - node_modules
stages:
  - lint
  - test
  - build
before_install:
  - sudo apt-get update
  - sudo apt-get install python3
jobs:
  include:
    - name: lint
      stage: lint
      node_js: 
        - 12
      script: 
        - yarn lint
    - name: Build
      stage: build
      node_js: 
        - 12
      before_install:
        - if [ "$TRAVIS_SECURE_ENV_VARS" != "false" ]; then openssl aes-256-cbc -K $encrypted_e51c23250372_key -iv $encrypted_e51c23250372_iv -in id_rsa_downcloud_contacts.enc -out /tmp/id_rsa_downcloud_contacts -d; fi
        - if [ "$TRAVIS_SECURE_ENV_VARS" != "false" ]; then eval "$(ssh-agent -s)"; fi
        - if [ "$TRAVIS_SECURE_ENV_VARS" != "false" ]; then chmod 600 /tmp/id_rsa_downcloud_contacts;
          fi
        - if [ "$TRAVIS_SECURE_ENV_VARS" != "false" ]; then ssh-add /tmp/id_rsa_downcloud_contacts;
          fi
      before_deploy:
        - yarn add cozy-app-publish
      deploy:
        - provider: script
          repo: cozy/cozy-contacts
          skip-cleanup: true
          script: yarn run deploy
          on:
            branch: master
        - provider: script
          repo: cozy/cozy-contacts
          skip-cleanup: true
          script: yarn run deploy
          on:
            tags: true
      after_deploy:
        - yarn bundlesize
