@require 'settings/palette.styl'

.alphabet-navigation-wrapper
    display flex
    justify-content center

div.alphabet-navigation
    display flex
    margin 8px 0
    overflow-x auto
    padding-bottom 2px

    div.alphabet-letter
        &.active
            box-shadow 0 2px 0 0 silver

        button
            &:focus
            &:hover
                outline 0
