ul.alphabet-filter 
  padding 1.2em
  display flex
  justify-content space-evenly

  li.letter
    list-style-type none

    button.filter-btn
      border none
      color #616060
      padding 10px
      cursor pointer
      border-radius 4px
      height 40px
      border solid 2px white
    
    button.filter-btn:hover
      color #2f68b6
      border solid 2px #2f68b6

    button.filter-btn:active, button.filter-btn:focus
      color black
      background #e0ebfa

    button.letter-btn
      width 40px

    button.reset-btn
      font-size 0.8em
      


      
