.contact-form-field__wrapper
    width calc(100% - 3rem)

.contact-form-field__label
    width 100%

    &-nofullwidth
        +small-screen('min') // wider than small screen
            width 200px

.contact-form-field__delete-icon
    margin-top .6rem
    margin-left .7rem

.contact-form-field__icon
    margin-top 2.2rem
    margin-right 1.5rem
