@require 'settings/palette.styl'
@require 'components/table.styl'

main > [role=main]
    width 100%
    max-width 80rem
    margin 0 auto

[role=banner] .coz-bar-container
    +small-screen()
        align-items center

.list-wrapper
    box-shadow 0 4px 4px 0 silver

.topbar
    display flex
    flex-shrink 0
    max-width 80rem
    width 100%
    margin 1rem auto

    +small-screen()
        flex-direction column

    &__left
        display flex
        flex 1 1 auto
        justify-content center
        align-items center
        padding-right 1rem

        +small-screen()
            flex-direction column
            padding-right 0
            margin-bottom 1rem

    &__right
        display flex
        justify-content center
        align-items center

.actions
    display flex

// TODO: Find a better way to set the .empty icon size
.contacts-empty
    +small-screen()
        margin-top: calc(50vh - 6rem)
        transform: translateY(-50%)
    &>svg
        height 300px
        width 280px

.category-link
    display flex
    padding-bottom 1rem
    overflow auto hidden

    +small-screen()
        padding-left 1rem
        padding-right 1rem

    .MuiChip-root-31
        margin-left .25rem
        margin-right .25rem
