@require 'settings/palette.styl'

.contact-fields-title
    font-size 1.2rem
    margin-bottom 1.7rem

.contact-field-list
    list-style none
    margin 0
    padding 0
    padding-left 1.5rem

.contact-field
    display flex
    margin 1rem 0

.contact-field-icon
    margin-right 1rem

.contact-field-value
    margin-bottom .5rem

    a
        color dodgerBlue
        text-decoration none

.contact-field-separator
    padding 0 .5rem

.contact-field-label
    color coolGrey
    font-size .9rem

.contact-identity
    display flex

.contact-identity__title
    font-size 1.5rem
    margin .5rem 0
