@require 'settings/palette.styl'

.group-manager__input
    width 0
    height 0
    overflow hidden

.group-manager__indicator
    margin-left .5rem

.group-option
    display block
    padding .5rem
    color charcoalGrey

    &:hover
        background-color paleGrey
        cursor pointer

.group-option__checkbox
    margin-right .5rem
    vertical-align top
