@require 'settings/palette.styl'
@require 'components/table.styl'

// @stylint off
.fix-c-btn svg
    margin-right 0 !important // hack https://github.com/cozy/cozy-ui/issues/338
// @stylint on

.list-wrapper
    width 100%
    max-width 80rem
    margin 0 auto
    box-shadow 0 4px 4px 0 silver

.topbar
    width 100%
    max-width 80rem
    margin .75rem auto
    display flex

    .topbar__left
        flex 1

.actions
    display flex

$reset-list
    list-style none
    padding-left 0
    margin 0

.list-contact
    @extend $table
    @extend $reset-list

.sublist-contact
    @extend $reset-list

    :last-child
        .contact
            border 0

.contact
    @extend $table-row
    color coolGrey
    cursor pointer

    +small-screen()
        flex-direction column
        align-items flex-start
        height auto

.contact-selection
    position absolute
    left .5rem

.contact-identity
    @extend $table-cell
    @extend $table-cell--primary
    display inline-flex
    align-items center
    flex-basis 30%
    padding-left 2rem

.contact-firstname
    margin-left 1rem

.contact-lastname
    font-weight bold

.contact-myself
    color coolGrey
    padding-left .5rem

.contact-phone
    @extend $table-cell
    flex 0 0 12rem

.contact-email
    @extend $table-cell
    flex-basis 30%

+small-screen()
    .contact-identity
    .contact-phone
    .contact-email
        flex-basis auto
        padding .3rem 1rem

.divider
    @extend $table-divider

.menu__item--danger
    color pomegranate

// TODO: Find a better way to set the .empty icon size
.contacts-empty>svg
    height 300px
    width 280px

.contacts-empty-actions-wrapper
    display flex
    flex-direction column
    // TODO: Find a better way to set the .c-empty-text top margin to 24px.
    margin-top 19px // + .c-empty-text default 5px top margin

.contacts-empty-action
    flex 0 0 auto
    margin 0 0 8px 0

.contacts-empty-button
    width: 100%
    margin 0 !important
