@require 'settings/palette.styl'

.group-option
    display block
    padding .5rem
    color charcoalGrey

    &:hover
        background-color paleGrey
        cursor pointer

.group-option__checkbox
    margin-right .5rem
    vertical-align top
