@require 'settings/palette.styl'
@require 'components/table.styl'

main > [role=main]
    width 100%
    max-width 80rem
    margin 0 auto

[role=banner] .coz-bar-container
    +small-screen()
        align-items center

.list-wrapper
    box-shadow 0 4px 4px 0 silver

.topbar
    display flex
    flex-shrink 0
    max-width 80rem
    width 100%
    margin 1rem auto

    +small-screen()
        flex-direction column

    &__left
        display flex
        flex 1 1 auto
        justify-content center
        align-items center
        padding-right 1rem

        +small-screen()
            flex-direction column
            padding-right 0
            margin-bottom 1rem

    &__right
        display flex
        justify-content center
        align-items center

.actions
    display flex

$reset-list
    list-style none
    padding-left 0
    margin 0

.list-contact
    @extend $table
    @extend $reset-list

.sublist-contact
    @extend $reset-list

    :last-child
        .contact
            border 0

.contact
    color coolGrey
    cursor pointer

    +small-screen()
        height auto

.contact-selection
    position absolute
    left .5rem

    +small-screen()
        position relative

.contact-identity
    flex-basis 30%
    padding-left 2rem

    +small-screen()
        flex 1 1 auto

.contact-myself
    color coolGrey
    padding-left .5rem

.contact-phone
    flex 0 0 12rem

.contact-cozyurl
    flex 0 0 12rem

.contact-email
    flex-basis 30%

+small-screen()
    .contact-identity
    .contact-phone
    .contact-cozyurl
    .contact-email
        flex-basis auto
        padding .3rem 1rem

// TODO: Find a better way to set the .empty icon size
.contacts-empty>svg
    height 300px
    width 280px
