.letter-selector
    z-index 2
    cursor pointer
    position fixed
    right 0
    top 50%
    transform translate(0, -50%)
    touch-action none
    text-align center
    padding 10px 0

    .letter
        opacity .5
        touch-action none
        padding 0 15px
