@require 'settings/palette.styl'
@require 'components/forms.styl'


.contact-form-field
    @extend $field-inline

.contact-form__inputs-wrapper
    @extend $double-field
    @extend $double-field--with-button

    .contact-form__meta-button
        @extend $double-field-button

.contact-form__label
    @extend $double-field-label

.contact-form__input-wrapper
    @extend $double-field-wrapper

.contact-form__input-container
    @extend $double-field-input

