.ContactLetterNav
    position sticky
    top 0
    z-index 2
    list-style none
    display flex
    justify-content space-between
    background white
    padding 0
    margin 0

.ContactLetterNav-letter
    display flex
    cursor pointer
    width 36px
    height 36px
    border-radius 50%
    justify-content center
    align-items center

    &:hover
        background rgba(0,0,0,0.06)
