@require 'cozy-ui/build'

@require './contacts.styl'
@require './contactCard.styl'
@require './contactForm.styl'
@require './contactGroups.styl'
@require './contactImportation.styl'
@require 'objects/layouts'
.c-layout
    @extend $app
