@require 'cozy-ui/build'

@require './contacts.styl'
@require './contactCard.styl'
@require './contactForm.styl'
@require './contactGroups.styl'
@require './contactImportation.styl'
@require './contactGroupCreation.styl'

[aria-hidden=true]
    display initial
    visibility initial