@require '~cozy-ui/dist/cozy-ui.min.css'

@require './contacts.styl'
@require './contactForm.styl'
@require './contactImportation.styl'
@require './contactGroupCreation.styl'

[aria-hidden=true]
    display initial
    visibility initial
