@require 'settings/palette.styl'
.app-wrapper
    width 100%
.app-content
    height 100vh

.intent-layout
    height 100%
    display flex
    align-items stretch
    flex-direction column


.intent-footer
    height 4.5rem
    background-color paleGrey
    box-shadow inset 0 -1px 0 0 silver
    display flex
    align-items center
    padding .5rem 1rem

    .intent-footer-label
        flex 1

.intent-main
    flex 1
    overflow-y scroll
    width 100%
