@require 'settings/palette.styl'
.app-wrapper
    width 100%
.app-content
    height 100vh

.intent-layout
    height 100%
    display flex
    align-items stretch
    flex-direction column


.intent-footer
    height 4.5rem
    background-color paleGrey
    box-shadow inset 0 -1px 0 0 silver
    display flex
    align-items center
    padding .5rem 1rem

    .intent-footer-label
        flex 1

.intent-main
    flex 1
    overflow-y scroll
    width 100%

.intent-header
    height 2rem
    width 100%
    background-color paleGrey
    box-shadow inset 0 -1px 0 0 silver
    padding 1rem
    display flex

    .intent-header-title
        display flex
        margin 0
        align-items center
        font-size 1.5rem
        font-weight normal
        color charcoalGrey

        & span
            margin-right .25rem
        & strong
            font-weight bold

    .intent-header-icon
        margin-right .45rem
