.navigation
    z-index 100
    position fixed
    left calc(100% - 3rem)

    height 100%
    overflow-y auto

    // high resolution
    @media (min-width: 1300px)
        left calc(50% + 41rem)

    > ol
        display flex
        flex-direction column

        padding 0

        > a
            border 1px
            border-color lightgray
            box-shadow 0 0 3px 0 rgba(0, 0, 0, .25)
            margin-bottom .5rem

.navigation::-webkit-scrollbar
    display none
