@require 'cozy-ui'
@require 'settings/palette.styl'

.container
  height rem(48)
  display: flex;
  align-items: center;
  color charcoalGrey

.contact-group-creation-divider
    width 100%
    border-top 1px solid silver    

.overlay-creation-group
    opacity 0

/*since we keep the existing style of
react-select for the menu and we only 
want to override with & zindex... important 
is important */
.react-select__menu
    width rem(384) !important
    z-index 100000 !important
.react-select__container
    display inline-block
    vertical-align middle
    

.react-select__menu-notice--no-options
    color: coolGrey
    margin-left: 0.5rem !important
    height rem(48)
    display flex
    align-items center